@import "../abstracts/constants.scss";

.content-container {
    min-height: calc(100vh - ($header + 3rem));
    display: block;
}

.topbar {
    &.el-header {
        height: $header;
    }
}

.el-main {
    padding: 0rem !important;
}

.el-drawer__header {
    margin-bottom: 0 !important;
}
.el-drawer__body {
    padding: 1rem 1.5rem !important;
}